@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected async override Task OnInitializedAsync()
    {
        var name = await JsRuntime.InvokeAsync<string>("window.localStorage.getItem", AppConstants.StorageKeys.Username);
        if (string.IsNullOrWhiteSpace(name))
        {
            //Continue the app


            int maxRetry = 3;
            do
            {
                name = await JsRuntime.InvokeAsync<string>("window.prompt", "Welcome \n Please enter your name");
            }
            while (string.IsNullOrWhiteSpace(name) && (--maxRetry) > 0);


            if (string.IsNullOrWhiteSpace(name))
            {
                await JsRuntime.InvokeVoidAsync("window.alert", "Error \n Your name is required to continue");
                return;
            }
            //We have username here
            //Save it to the storage
            await JsRuntime.InvokeVoidAsync("window.localStorage.setItem", AppConstants.StorageKeys.Username,name);
        }
        //Continue with the app
        NavigationManager.NavigateTo("/home");
    }
}