@inject NavigationManager NavigationManager
@inject AuthServices AuthService
<Router AppAssembly="@typeof(Main).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected async override Task OnInitializedAsync()
    {

        var name = await AuthService.GetUsername();
        if (string.IsNullOrWhiteSpace(name))
        {
            return;
        }
        //Continue with the app
        NavigationManager.NavigateTo("/home");
    }
}